[user]
	name = KSayanta
	email = 181443436+KSayanta@users.noreply.github.com
	signingkey = BC2AB90EEC930772

[core]
	editor = nvim
	excludesFile = .gitignore
	compression = 9

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[status]
	short = true
	branch = true

[fetch]
	prune = true

[worktree]
	guessRemote = true

[diff]
	context = 3
	rename = copies
	interHunkContext = 10
	tool = nvimdiff

[color "diff"]
	meta = cyan bold
	frag = magenta
	context = white
	whitespace = yellow reverse
	old = red

[interactive]
	singlekey = true

[commit]
	gpgsign = true

[gpg]
	program = /usr/bin/gpg

[alias]
	stage = add -u
	track = add -N
	unstage = reset --
	untrack = rm --cached
	show-tracked = ls-tree --name-only -r HEAD

[include]
	path = ~/.gitconfig.local

[lfs]
	concurrenttransfers = 3

[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
